{{define "footer-admin"}}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    

</body>
<style>
body{
   font-family: 'Germania One', cursive;
}
</style>

</html>
{{end}}