{{define "footer"}}

<div class="container">
<div class="content">
</div>
        <div class="container">
            <footer class="footer">
            <hr>
      <div class="container">
        <span class="text-muted">Created by Tony Jafar using GO.</span>
      </div>
        </div>
    </footer>
  </end>
  <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>
{{end}}