{{define "footer"}}
<hr>
<div class="container">
<div class="content">
</div>
        <div class="container">
            <footer class="footer">
      <div class="container">
        <span class="text-muted">Created by Tony Jafar using GO.</span>
      </div>
        </div>
    </footer>
  </end>
{{end}}