{{template "header" .}}
<div class="container">
  <div class="jumbotron">
    <h1>Tony Image Blog</h1>
    {{if .}}
    <h2><a href="/add_image">Add some new images</a></h2>
    {{else}}
    <h2><a href="/signin">Login to see and add images</a></h2>
    {{end}}
  </div>
</div>
{{range $i := .}}

     
     <div class="col-xs-12 col-sm-6 col-md-3">
				<a href="/assets/{{.}}" class="thumbnail">
					<img src="/assets/{{.}}">
				</a>
			</div>
      
{{end}}
{{template "footer"}}